*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    color: white;
}

body{
    background-color: black;
}

a{
    color: white;
    font-size: 2rem;
    text-decoration: none;
    margin-right: 2rem;
}

a:hover{
    color: orange;
    text-decoration: underline;
}
h1{
    font-size: 5rem;
}

#minRes{
    color: yellow;
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    margin-top: 2rem;
}

h2 {
    display: flex;
    align-items: center;
    font-size: 3rem;
    margin-left: 1rem;
    color: green;
}
span{
    font-size: 5rem;
}
.navigation_bar{
    width: 100%;
    height: 6rem;
    background-color: palevioletred;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}

#txt {
    color: white;
}

.main_Container{
    width: 100%;
    height: 30vh;
    align-items: center;
    
}
.title_container {
    margin-top: 35rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container__clock{
    margin-top: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.button_container {
    width: 100%;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn{
    width: 12.5rem;
    height: 6rem;
    border-radius: 0.5rem;
    margin-left: 2.5rem;
}

